---
export const prerender = false;
import { Album } from "../components/Album";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Boda</h1>
  <Album />
  <!-- {
    fotos.map((foto) => {
      return (
        <div class="h-64 w-64 m-2">
          <CldImage
            src={foto.data.public_id}
            width={foto.data.width}
            height={foto.data.height}
            crop={{
              type: "fill",
              source: true,
            }}
          />
        </div>
      );
    })
  } -->
</Layout>
