<section class="flex flex-col justify-center items-center px-4 py-12 w-full">
  <h1 class="mb-1 poppins-bold font-bold text-xl text-[#BF9066]">
    CONFIRMAR <br /> ASISTENCIA
  </h1>
  <p
    class="poppins-light font-light text-sm text-center mt-2 text-[#24211D] mb-7 text-pretty"
  >
    Por favor confirma tu asistencia antes <br /> del <strong
      class="font-semibold text-[#24211D]">20 de Febrero</strong
    >
  </p>

  <button
    class="poppins-medium font-medium text-sm w-48 h-7 rounded-full bg-[#CBB79F] text-[#FEFBE6] flex justify-center items-center"
    >CONFIRMAR</button
  >
</section>
