<div class="py-8 flex flex-col justify-center items-center mb-6">
  <p class="alice-regular font-normal text-base text-[#BF9066] text-center">
    Los mejores momentos de la vida merecen <br /> ser compartidos. Los esperamos.
  </p>
  <p class="alice-regular font-normal text-xl text-[#CBB79F] mt-4">Cati&Emma</p>
</div>
