<div class="py-8 flex flex-col justify-center items-center mb-8">
  <p class="alice-regular font-normal text-2xl text-[#CBB79F] mb-3">
    ¡Los esperamos!
  </p>
  <p class="alice-regular font-normal text-lg text-[#BF9066] text-center">
    Los mejores momentos de la vida <br />merecen ser compartidos.
  </p>
  <p class="alice-regular font-normal text-2xl text-[#CBB79F] mt-4">
    Cati&Emma
  </p>
</div>
