<header class="relative">
  <h1
    class="pinyon-script-regular text-white text-5xl absolute text-center w-full top-1"
  >
    Nos casamos
  </h1>
  <h2
    class="vidaloka-regular text-white text-2xl absolute text-center w-full top-12"
  >
    Cati & Emma
  </h2>
  <img src="../assets/bodaHeader.webp" alt="alianzas" class="sm:h-1/2" />
</header>
