---
import "../styles/global.css";
---

<header class="relative">
  <h1
    class="pinyon-script-regular text-white text-5xl sm:text-6xl absolute text-center w-full top-1 sm:top-3"
  >
    Nos casamos
  </h1>
  <h2
    class="vidaloka-regular text-white text-2xl sm:text-4xl absolute text-center w-full top-12 sm:top-16"
  >
    Cati & Emma
  </h2>
  <img src="/bodaHeader.webp" alt="alianzas" class="sm:max-w-md object-cover" />
</header>
