---
import Countdown from "./Countdown.astro";
import "../styles/global.css";
---

<section class="py-10 bg-[#FEFBE6] px-4 w-full flex flex-col items-center">
  <audio controls loop>
    <source src="/cancion-boda.mp3" type="audio/mpeg" />
    Tu navegador no soporta la reproducción de audio.
  </audio>

  <p
    class="alice-regular text-pretty text-[#BF9066] text-base text-center w-full mt-8 font-normal"
  >
    ¡Que encuentro tan feliz cuando dos almas <br /> se quieren para amar mejor a
    Dios!
  </p>
  <p
    class="poppins-regular text-xs text-center w-full mt-2 text-[#CBB79F] font-normal"
  >
    San Francisco de Sales
  </p>

  <Countdown />
</section>
