<section
  class="flex flex-col justify-center items-center px-4 py-8 bg-[#BF9066] w-full"
>
  <img src="/iconos/fotos.png" alt="icono de fotos" class="w-16 h-16" />
  <h1 class="mb-1 poppins-bold font-bold text-xl text-[#FEFBE6]">
    COMPARTE <br /> TUS FOTOS
  </h1>
  <p
    class="poppins-light font-light text-sm text-center mt-1 text-[#24211D] mb-5"
  >
    Sube fotos de la boda al album
  </p>

  <button
    class="poppins-medium font-medium text-sm w-[219px] h-7 text-[#FEFBE6] border-2 border-[#FEFBE6] flex justify-center items-center"
    >SUBIR FOTOS</button
  >
  <a
    href="/fotos"
    class="mt-4 poppins-medium font-medium text-sm w-[219px] h-7 text-[#FEFBE6] border-2 border-[#FEFBE6] flex justify-center items-center"
    >VER FOTOS SUBIDAS</a
  >
</section>
